  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");
:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(0, 49.8%, 46.9%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 64.4%, 39.6%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 2rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

  body {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; 
  }
  .main-container {
    display: flex;
    height: 100%;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border-radius: 25px;
    margin-left: 300px;
    margin-top: 100px;
    align-items: flex-end; 
    justify-content: flex-end; 
  }

  .register-container h3 {
    margin: 0;
    padding: 0;
    font-size: 45px; 
    line-height: 0.9;
    
  }

  .community,
  .productivity {
    color: #B33C3C; 
  }
  .made-with-more {
    color: #BFB8B8; 
  }

  .register-container div {
    margin-bottom: 0.5px;  */
  }

  .register-form-container {
    background-color: #fff;
    width: 500px;
    height: 430px;
    border-radius: 25px;
    margin-left: 90px;
    margin-top: 100px;
    padding: 10px;
  }
  .register-field {
    border-radius: 13px;
    width: 400px;
    height: 42px;
    box-sizing: border-box;
    padding: 9px;
    margin-bottom: 6px;
    border: 2px solid #d9d9d9;
  }

  .register-field::placeholder {
    color: #d9d9d9;  
    font-size: 15px;
  }

  .register-form {
    text-align: center;
    margin-bottom: 10px;
  }

  .register-form h3 {
    color: #525252;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  hr {
    width: 70%;
    background-color: #d9d9d9 !important;
    height: 1.5px;
    border: none;
    margin: -5px auto 5px auto;
  }

  label {
    display: block; 
    margin-bottom: 8px;
    margin-left: 50px;
    color: #545454;
    font-weight: bold;
  }

.btn-main {
    background-color: #a62424;
    color: #fff;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 1px;
    width: 270px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 10px;
    font-weight: bold;
}
  .btn-login{
      background-color: #525252;
      color: #fff;
      height: 38px;
      width: 200px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 25px;
      border: none;
      display: inline-block;
      text-align: center; 
      line-height: 38px; 
      text-decoration: none; 
  }

  .register-logo{
    margin-top: 10px;
  }

  .register-logo img {
    width: 180px;
    height: auto;
  }

  .secondary-container{
    text-align: center;
    font-weight: bold;
    color: #525252;
    margin-left: 900px;
    margin-bottom: auto;
    width: 300px;
    height: 100px;
  }

  .secondary-container p {
    margin-bottom: 5px; 
  }

  /* ... NAVIGATION BAR -- NOT LOGGED */

  .navbar {
    background-color: #f6f6f6;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navbar li {
    float: left;
    margin-right: 20px; 
  }

  .navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 13px;
    color: #525252; 
    font-size: 30px; 
    font-weight: bold; 
  }

  .navbar a:hover {
    
  }

  .navbar img {
    width: 195px; 
    height: auto;
    margin-left: 27px; 
    margin-top: 17px;
  }

  /* ... END OF NAVIGATION BAR - NOT LOGGED */

  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */

    .main-container {
      flex-direction: column;
      align-items: center;
    }

    .register-container {
      width: 80%;
      margin-left: 0;
      margin-top: 20px;
    }

    .register-form-container {
      width: 80%;
      margin-left: 0;
      margin-top: 20px;
    }

    .secondary-container {
      margin-left: 0;
      margin-top: 20px;
    }

    .navbar {
      padding: 10px;
    }

    .navbar ul {
      text-align: center;
    }

    .navbar li {
      float: none;
      display: inline-block;
      margin-right: 10px;
    }

    .navbar img {
      margin: 0;
    }

    .navbar a {
      padding: 10px;
      margin-top: 0;
      font-size: 18px;
    }
  }



  /* ... USER LOGIN PAGE - HTML */

  .login-form-container {
    background-color: #fff;
    width: 500px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .user-login-form {
    text-align: center;
    margin-bottom: 10px;
  }

  .user-login-form h3 {
    color: #525252;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .user-login-form .signup-text {
    color: #525252; 
    font-size: 16px; 
    font-weight: normal; 
    margin-bottom: 2px;
  }

  .user-login-form .admin-text {
    color: #525252; 
    font-size: 14px; 
    font-weight: normal; 
  }


  .user-login-field {
    border-radius: 13px;
    width: 400px;
    height: 42px;
    box-sizing: border-box;
    padding: 9px;
    margin-bottom: 6px;
    border: 2px solid #d9d9d9;
  }

  .user-login-field::placeholder {
    color: #d9d9d9; 
    font-size: 15px;
  }

.btn-admin {
    background-color: #A6A4A4;
    color: #fff;
    height: 38px;
    width: 200px;
    display: inline-block;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    margin-bottom: 7px;
}

.btn-signup {
    background-color: #BFB8B8;
    color: #fff;
    height: 38px;
    width: 200px;
    display: inline-block;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    margin-bottom: 7px;
}


  .login-hr {
    width: 80%; 
    background-color: #d9d9d9 !important;
    height: 1.5px;
    border: none;
    margin: 1px auto 10px auto; 
  }

  /* ... ADMIN LOGIN PAGE - HTML */

  .admin-login-form-container {
    background-color: #fff;
    width: 500px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .admin-login-form {
    text-align: center;
    margin-bottom: 10px;
  }

  .admin-login-form h3 {
    color: #525252;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
  }


  .admin-login-form .user-text {
    color: #525252; 
    font-size: 14px; 
    font-weight: normal; 
  }


  .admin-login-field {
    border-radius: 13px;
    width: 400px;
    height: 42px;
    box-sizing: border-box;
    padding: 9px;
    margin-bottom: 6px;
    border: 2px solid #d9d9d9;
  }

  .admin-login-field::placeholder {
    color: #d9d9d9; 
    font-size: 15px;
  }

.btn-user {
    background-color: #A6A4A4;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    line-height: 38px;
    height: 38px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    margin-bottom: 7px;
}


  .admin-login-hr {
    width: 80%; 
    background-color: #d9d9d9 !important;
    height: 1.5px;
    border: none;
    margin: 1px auto 10px auto;
  }

/* ... ABOUT PAGE - HTML */

/* -- NAVIGATION BAR - LOGGED --*/

.navbar-logged {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  margin: 0 !important;
  width: 100%;
  height: 55px;
  top: 0;
  z-index: 1; 
}

.navbar-logged ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navbar-logged li {
  margin-right: 18px;
}

.logout-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.logout-btn button {
  background-color: #545454;
  color: #fff;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 140px;
}

.logout-btn button:hover  {
  background-color: var(--color-primary);
}

.navbar-logged a {
  display: block;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  margin-top: 5px;
  color: #525252;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0 !important;
}
.navbar-logged a:hover {
   color: var(--color-primary);
}

.navbar-logged img {
  width: 90px;
  height: 54px;
  margin: 0;
  padding: 0;
}

/* END OF NAVIGATION BAR LOGGED*/



/* -----USER PROFILE - HTML------ */


.user-profile-container {
    background-color: #fff;
    width: 1000px;
    height: auto;
    border-radius: 25px;
    position: relative;
    top: 200px;
    left: 242px;
    transform: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 10px;
}

.profile-photo-container {
    width: 310px;
    height: 360px;
    display: inline-block;
    overflow: hidden; 
    text-align: center;
}

.profile-photo-container img {
    width: 85%; 
    height: auto;
    margin-bottom: 23px;
}

.profile-description {
    width: 628px;
    height: 360px;
    display: inline-block;
    overflow-y: auto;
}

.department-text{
  background-color: #268D54;
  border-radius: 28px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  border: none;
}

.department-text p {
    margin: 0; 
    padding: 10px; 
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}

.myprofile-bio p{
    text-align: justify;
    color: #525252;
    margin-top: 0px; 
    font-size: 17px;
    margin-bottom: 20px;
}

.bio-text p{
  color: #525252;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 7px;
}

.myprofile-name {
  align-items: center; 
  margin: 0;
  margin-bottom: 0;

}

.myprofile-name p{
  font-size: 40px;
  color: #A62424;
  font-weight: bold;
  margin-top:15px;
  margin-bottom:1px;
  line-height: 1; 
}

.edit-profile-btn {
    background-color: #A62424;
    color: #fff;
    border: none;
    width:155px; 
    height: 38px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 6px;
    margin-left: 470px;
    cursor: pointer;
    font-size: 16px;

}

.myprofile-username p{
    color: #525252;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 18px;
}

.profile-divider {
    border: 0;
    height: 1px;
    margin: 15px 0;
    width: 100%;
    border-bottom: 1.5px solid #545454; 
}

.back-link {
  width: 100px;
  position: absolute;
  top: 120px; 
  left: 75px; 
  z-index: 1;
}

.back-link p{
  color: #525252;
  font-weight: bold;
  margin: 0;
  font-size: 25px;
}

/* EDIT USER PROFILE - HTML */

/* SAME NAVIGATION BAR - LOGGED STYLE*/

.edit-profile-container1 {
  width: 400px;
  display: inline-block;
  overflow: hidden; 
  text-align: center;
  margin-top: 10px;
}

.edit-profile-container2{
  margin-top: 50px;
  margin-left: 45px;
  width: 300px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.edit-img img {
    width: 30%; 
    height: auto; 
    margin-bottom: 9px;
}

.profilephoto-text p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #545454;
    line-height: 1;
}

.uploadimg-text{
  text-align: center;
  margin: 0 auto;
}

.uploadimg-text button {
  margin: 0;
  padding: 8px;
  font-size: 13px;
  font-weight: bold;
  background-color: #3CB371;
  border: none;
  color: #fff;
  border-radius: 28px;
  width: 160px;
  height: 30px;
  cursor: pointer;
}

.name-label p{
    color: #545454;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.edit-profile-field {
    border-radius: 13px;
    width: 300px;
    height: 36px;
    box-sizing: border-box;
    padding: 9px;
    margin-bottom: 11px;
    border: 2px solid #d9d9d9;
  }

.edit-profile-field::placeholder {
    color: #d9d9d9;  
    font-size: 15px;
}

.edit-profile-field::after {
    content: "\25BC"; 
    position: absolute;
    color: #525252;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.save-changes-btn {
    background-color: #A62424;
    color: #fff;
    border: none;
    width:155px; 
    height: 34px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 27px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
}

.save-changes-btn:hover{
    background-color: #545454;
}

.cancel-btn{
    background-color: #A6A4A4;
    color: #fff;
    border: none;
    width:130px; 
    height: 34px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.cancel-btn:hover{
    background-color: #545454;
}

/*USER HOMEPAGE LOGGED - HTML*/

/* SAME NAVIGATION BAR - LOGGED STYLE*/

.user-homepage-container {
  width: 1400px;
  position: absolute;
  top: 90px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: height 0.3s ease; 
}

/*--============= LEFT ===============--*/

.user-homepage-container .user-left-container {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

.user-left-container {
  width: 310px;
  height: 410px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.left-profile {
  background-color: #fff;
  width: 306px;
  height: 90px;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  padding: 0;
}

.left-profile:hover{
    background-color: var(--color-light);
    cursor: pointer;
}

.user-profile-photo {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.user-profile-photo img {
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.user-profile-name {
  height: 70px;
  width: 200px;
  display: inline-block;
  text-align: left;
}

.user-profile-name p {
  line-height: 1.2;
  margin: 0;
  text-align: left;
  
}

.user-profile-name p:nth-child(1) {
  font-weight: bold;
  margin-top: 15px;
  color: #313134;
  font-size: 1rem;
}

.user-profile-name p:nth-child(2) {
  color: var(--color-gray);
  font-size: 0.8rem;
  margin-left: 10px;
}

.left-sidebar {
  background-color: #fff;
  width: 306px;
  height: 190px;
  border-radius: 35px;
  margin-top: 20px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  text-decoration:none;
}

.user-left-container .left-sidebar .sidebar-item h3 {
    text-decoration: none;
}

.user-left-container .left-sidebar .sidebar-item:hover {
  background: var(--color-light);
}

.user-left-container .left-sidebar .active {
  background: var(--color-light);
}

    .user-left-container .left-sidebar .active i,
    .user-left-container .left-sidebar .active h3 {
        color: var(--color-primary);
        text-decoration: none;
    }

.user-left-container .left-sidebar .sidebar-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.user-left-container .left-sidebar .sidebar-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.user-left-container .left-sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}
.left-sidebar i {
  font-size: 1.6rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;

}

.left-sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1.1rem;
    color: #313134;
    text-decoration: none;
}

.left-button {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    width: 300px;
    height: 40px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.left-button:hover{
    background-color: #545454;
}

/*--============= MIDDLE ===============--*/

.user-middle-container {
  background-color: #efefef;
  border-radius: var(--card-border-radius);
  margin-left: 40px;
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  flex-grow: 1;
}

.middle-homepage-text {
  background-color: var(--color-danger);
  width: 630px;
  height: 46px;
  border-radius: var(--card-border-radius);
  display: inline-block;
  align-items: center;
  margin-top: 20px;
}

.middle-homepage-text p {
  color: var(--color-white);
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 6px;
}

.middle-homepage-post {
  background-color: var(--color-white);
  width: 630px;
  height: 248px;
  border-radius: 35px;
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.middle-end-post {
  margin: 0;
  width: 630px;
  height: 30px;
  margin-top: 12px;
}

.middle-end-post p {
  margin: 0;
}

/* POST STYLE */

.user-detail {
  margin-top: 20px;
  width: 590px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
.profile-photo img {
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo {
  display: flex;
  align-items: center;
}

.user-info {
  width: 500px;
}

.user-info p {
  text-align: left;
  margin: 0;
}

.user-info .username {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.user-post {
  width: 570px;
  height: 90px;
}

.user-post p {
  font-size: 14px;
  text-align: left;
}
.user-bookmark {
  width: 570px;
  display: flex;
  justify-content: flex-end;
}
.user-bookmark span i {
  font-size: 24px;
}

/*--============= RIGHT ===============--*/

.user-right-container {
  background-color: var(--color-white);
  border-radius: 35px;
  margin-left: 40px;
  width: 340px;
  height: 230px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.quote-text {
  margin-top: 22px;
  width: 300px;
}

.quote-text p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.quote-content {
  width: 300px;
}

.quote-content p {
  font-size: 17px;
  text-align: center;
}

/*==----------------MODAL---------------------==*/

/*USER INQUIRIES LOGGED - HTML*/

/* SAME NAVIGATION BAR - LOGGED STYLE*/

.user-inquiries-container {
  width: 1400px;
  position: absolute;
  top: 90px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: height 0.3s ease; 
}

/*--============= LEFT ===============--*/

.user-inquiries-container .user-inq-left-container {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

.user-inq-left-container {
  width: 310px;
  height: 410px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.inq-left-profile {
  background-color: #fff;
  width: 306px;
  height: 90px;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  padding: 0;
}

.inq-left-profile:hover{
    background-color: var(--color-light);
    cursor: pointer;
}


.inq-user-profile-photo {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.inq-user-profile-photo img {
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.inq-user-profile-name {
  height: 70px;
  width: 200px;
  display: inline-block;
  text-align: left;
}

.inq-user-profile-name p {
  line-height: 1.2;
  margin: 0;
  text-align: left;
}

.inq-user-profile-name p:nth-child(1) {
  font-weight: bold;
  margin-top: 15px;
  color: #313134;
  font-size: 1rem;
}

.inq-user-profile-name p:nth-child(2) {
  color: var(--color-gray);
  font-size:0.8rem;
  margin-left: 10px;
}

.inq-left-sidebar {
  background-color: #fff;
  width: 306px;
  height: 190px;
  border-radius: 35px;
  margin-top: 20px;
}

.inq-sidebar-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  text-decoration:none;
}

.user-inq-left-container .inq-left-sidebar .inq-sidebar-item:hover {
  background: var(--color-light);
}

.user-inq-left-container .inq-left-sidebar .active {
  background: var(--color-light);
}

.user-inq-left-container .inq-left-sidebar .active i,
.user-inq-left-container .inq-left-sidebar .active h3 {
  color: var(--color-primary);
}

.user-inq-left-container .inq-left-sidebar .inq-sidebar-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.user-inq-left-container .inq-left-sidebar .inq-sidebar-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.user-inq-left-container .inq-left-sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}
.inq-left-sidebar i {
  font-size: 1.6rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}

.inq-left-sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1.1rem;
  color: #313134;
}

.inq-left-button {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  width: 300px;
  height: 40px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.inq-left-button:hover{
    background-color: #545454;
}

/*--============= MIDDLE ===============--*/

.inq-user-middle-container {
  background-color: #efefef;
  border-radius: var(--card-border-radius);
  margin-left: 40px;
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  flex-grow: 1;
}

.middle-inquiries-text {
  background-color: var(--color-danger);
  width: 630px;
  height: 46px;
  border-radius: var(--card-border-radius);
  display: inline-block;
  align-items: center;
  margin-top: 20px;
}

.middle-inquiries-text p {
  color: var(--color-white);
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 6px;
}

.middle-inquiries-post {
  background-color: var(--color-white);
  width: 630px;
  height: 248px;
  border-radius: 35px;
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inq-middle-end-post {
  margin: 0;
  width: 630px;
  height: 30px;
  margin-top: 12px;
}

.inq-middle-end-post p {
  margin: 0;
}

/* POST STYLE */

.inq-user-detail {
  margin-top: 20px;
  width: 590px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
.inq-profile-photo img {
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.inq-profile-photo {
  display: flex;
  align-items: center;
}

.inq-user-info {
  width: 500px;
}

.inq-user-info p {
  text-align: left;
  margin: 0;
}

.inq-user-info .inq-username {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.inq-user-post {
  width: 570px;
  height: 90px;
}

.inq-user-post p {
  font-size: 14px;
  text-align: left;
}
.inq-user-bookmark {
  width: 570px;
  display: flex;
  justify-content: flex-end;
}
.inq-user-bookmark span i {
  font-size: 24px;
}

/*--============= RIGHT ===============--*/

.inq-user-right-container {
  background-color: var(--color-white);
  border-radius: 35px;
  margin-left: 40px;
  width: 340px;
  height: 230px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inq-quote-text {
  margin-top: 22px;
  width: 300px;
}

.inq-quote-text p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.inq-quote-content {
  width: 300px;
}

.inq-quote-content p {
  font-size: 17px;
  text-align: center;
}

/*USER BOOKMARKS LOGGED - HTML*/

/* SAME NAVIGATION BAR - LOGGED STYLE*/

.user-bookmarks-container {
  width: 1400px;
  position: absolute;
  top: 90px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: height 0.3s ease; 
}

/*--============= LEFT ===============--*/

.user-bookmarks-container .user-bmark-left-container {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

.user-bmark-left-container {
  width: 310px;
  height: 410px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.bmark-left-profile {
  background-color: #fff;
  width: 306px;
  height: 90px;
  border-radius: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  padding: 0;
}

.bmark-left-profile:hover{
    background-color: var(--color-light);
    cursor: pointer;
}


.bmark-user-profile-photo {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.bmark-user-profile-photo img {
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.bmark-user-profile-name {
  height: 70px;
  width: 200px;
  display: inline-block;
  text-align: left;
}

.bmark-user-profile-name p {
  line-height: 1.2;
  margin: 0;
  text-align: left;
  font-size: 1rem;
}

.bmark-user-profile-name p:nth-child(1) {
  font-weight: bold;
  margin-top: 15px;
  color: #313134;
}

.bmark-user-profile-name p:nth-child(2) {
  color: var(--color-gray);
}

.bmark-left-sidebar {
  background-color: #fff;
  width: 306px;
  height: 190px;
  border-radius: 35px;
  margin-top: 20px;
}

.bmark-sidebar-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  text-decoration:none;
}

.user-bmark-left-container .bmark-left-sidebar .bmark-sidebar-item:hover {
  background: var(--color-light);
}

.user-bmark-left-container .bmark-left-sidebar .active {
  background: var(--color-light);
}

.user-bmark-left-container .bmark-left-sidebar .active i,
.user-bmark-left-container .bmark-left-sidebar .active h3 {
  color: var(--color-primary);
}

.user-bmark-left-container .bmark-left-sidebar .bmark-sidebar-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.user-bmark-left-container .bmark-left-sidebar .bmark-sidebar-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.user-bmark-left-container .bmark-left-sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}
.bmark-left-sidebar i {
  font-size: 1.6rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}

.bmark-left-sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1.1rem;
  color: #313134;
}


/*--============= MIDDLE ===============--*/

.bmark-user-middle-container {
  background-color: #efefef;
  border-radius: var(--card-border-radius);
  margin-left: 40px;
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  flex-grow: 1;
}

.middle-bookmarks-text {
  background-color: var(--color-danger);
  width: 630px;
  height: 46px;
  border-radius: var(--card-border-radius);
  display: inline-block;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.middle-bookmarks-text p {
  color: var(--color-white);
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 6px;
  
}

.middle-bookmarks-post {
  background-color: var(--color-white);
  width: 630px;
  height: 85px;
  border-radius: 35px;
  margin-bottom: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* POST STYLE */

.bmark-user-detail {
  margin-top: 10px;
  width: 590px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bmark-profile-photo img {
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.bmark-profile-photo {
  display: flex;
  align-items: center;
}

.bmark-user-info {
  width: 500px;
}

.bmark-user-info p {
  text-align: left;
  margin: 0;
}

.bmark-user-info .bmark-username {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.btn-unfollow {
    background-color: #BFB8B8;
    color: #fff;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 20px;
}

.btn-unfollow:hover{
    background-color: #545454;
}

/*--============= RIGHT ===============--*/

.bmark-user-right-container {
  
  border-radius: 35px;
  margin-left: 40px;
  width: 340px;
  height: 230px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bmark-search-text {
  width: 300px;
}

.bmark-search-text p {
  font-size: 14px;
  text-align: center;
}

/*----------SEARCH BAR------------*/

.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin-top: 10px;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  background-color: var(--color-white);
}

#searchQueryInput::placeholder {
  color: #313134;
  font-style: italic;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 28px;
    border-radius: 25px;
    width: 25%;
    height: 70%;
    position: relative;
}

.close {
    cursor: pointer;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.create-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 31px;
    border-radius: 25px;
    width: 28%;
    height: 30%;
    position: relative;
}

.create-container{

}
.create-post-field{
    border-radius: 13px;
    width: 402px;
    height: 170px;
    box-sizing: border-box;
    padding: 9px;
    margin-bottom: 11px;
    border: none;
    position: relative;
}


.create-post-field::placeholder {
    color: #d9d9d9;
    font-size: 19px;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(40%);
    transition: transform 0.3s ease-out;
}



.post-btn {
    background-color: #A62424;
    color: #fff;
    border: none;
    width:110px; 
    height: 34px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
}

.post-btn:hover{
    background-color: #545454;
}

.close {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-top: 7px;
    margin-right: 5px;
}

.close:hover,
.close:focus {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}
/*---------- ABOUT PAGE -----------*/

.about-main-container {
  width: 94%;
  height: 700px;
  display: flex;
}

.about-text-container {
  flex: 1;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}
.about-text-container p{
  font-size: 60px;
  font-weight: bold;
  color: var(--color-primary);
  text-align: left;
  margin: 0;
  margin-left: 90px;
}

.about-content-container {
  flex: 2;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.about-content {
  width: 100%; 
  max-width: 960px; 
  background-color: var(--color-white);
  margin-top: 170px;
  border-radius: 28px;
}

.about-content p{
  font-size: 18px;
  color: #928484;
  text-align: justify;
  margin: 0;
  padding: 18px;
}

.about-members {
  width: 100%;
  max-width: 960px; 
}

.about-members p{
  font-size: 18px;
  color: #9B9B9B;
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
}

textarea {
    resize: none;
}


