@{
    Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";
}

<title>About</title>

<div class="about-main-container">
    <div class="about-text-container"><p>About</p></div>
    <div class="about-content-container">
        <div class="about-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                varius elementum nisl, vel ullamcorper eros auctor sed. Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames ac
                turpis egestas. In lorem ipsum, lacinia sit amet neque ut,
                condimentum faucibus est. Nulla nec felis non ipsum aliquet
                ullamcorper at vitae tortor. Morbi tincidunt purus ut tellus
                tincidunt, vitae varius sem mattis. Mauris quis dui id sapien
                elementum ornare. Aliquam ornare arcu velit, eget bibendum tortor
                euismod a. Pellentesque mattis at tortor eget dictum. Suspendisse
                lacinia non est id cursus. Morbi interdum arcu nec porta dapibus.
                Phasellus imperdiet porttitor varius
            </p>
        </div>
        <div class="about-members">
            <p>The Thomasian team that made this website possible</p>
            <p>
                CHAVEZ, MINETTE <br />
                MAGTAKA, LANCE EUGENE<br />
                TACULA, KARL<br />
                TEJADA, JOSEPH KIEL<br />
                ZULAYBAR, KIRSTEN FAYE
            </p>
        </div>
    </div>
</div>